---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@import "reset";
@import "bourbon/bourbon";
@import "neat/neat";


// FONTS

@include font-face("Aleo", "/fonts/Aleo/Aleo-Regular", 400);
@include font-face("Aleo", "/fonts/Aleo/Aleo-Bold", 700);
@include font-face("Avenir", "/fonts/Avenir/Avenir-Regular", 400);
@include font-face("Avenir", "/fonts/Avenir/Avenir-Bold", 700);

$aleo: "Aleo", Georgia, Serif;
$avenir: "Avenir", "Helvetica Neue", Helvetica, Arial, Sans-Serif;

body {
  font-family: $aleo;
  font-weight: 400;
  font-size: 32px;
}


// COLORS

$white:			#FFF;
$black:			#000;

$sky-blue: 		#CBF2FF;
$medium-blue:	#528CA5;
$dark-blue:		#1a2e33;

$light-brown:	#E5D8CE;
$brown:			#7F6C5F;

$orange:		#FF7040;
$red: 			#FF3F46;


// SPACING

$space: 40px;


// IMPORTS

@import "layout";
@import "hero";
@import "info";
@import "menu";
@import "slider";
@import "ui";
