---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@import "reset";
@import "bourbon/bourbon";
@import "neat/neat";

// fonts

@include font-face("Aleo", "/fonts/Aleo/Aleo-Regular", 400);
@include font-face("Aleo", "/fonts/Aleo/Aleo-Bold", 700);
@include font-face("Avenir", "/fonts/Avenir/Avenir-Regular", 400);
@include font-face("Avenir", "/fonts/Avenir/Avenir-Bold", 700);

// import aleo

body {
  font-family: 'Avenir';
  font-weight: 400;
  font-size: 32px;
}


//  imports
@import "layout";
@import "hero";
@import "info";
@import "menu";
@import "slider";
@import "ui";
