<h2 class="info-title">Schedule</h2>

<!-- Friday -->
<h3 class="table-title">Friday</h3>
<table id="table-friday">
<thead>
	<tr>
		<th>Start</th>
		<th>End</th>
		<th>Event</th>
		<th>Location</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td> 4:00PM</td>
		<td>6:00PM</td>
		<td>Sponsor Mentor Checkin</td>
		<td>Entrance</td>
	</tr>
	<tr>
		<td>6:00PM</td>
		<td></td>
		<td>Registration Opens</td>
		<td>Entrance</td>
	</tr>
	<tr>
		<td>6:30PM</td>
		<td>8:30PM</td>
		<td>Dinner</td>
		<td>Tunnel</td>
	</tr>
	<tr>
		<td>8:00PM</td>
		<td>9:30PM</td>
		<td>Sponsorship Fair</td>
		<td>Main Exploration Area</td>
	</tr>
	<tr>
		<td>9:30PM</td>
		<td>10:00PM</td>
		<td>Opening Ceremony</td>
		<td>Stage</td>
	</tr>
	<tr>
		<td>10:00PM</td>
		<td></td>
		<td>Exploration Begins</td>
		<td>Main Exploration Area</td>
	</tr>
	<tr>
		<td>10:00PM</td>
		<td>11:00PM</td>
		<td>Ice Cream Social</td>
		<td>Tunnel</td>
	</tr>
</tbody>
</table>
<!-- /Friday -->

<!-- Saturday -->
<h3 class="table-title">Saturday</h3>
<table id="table-saturday">
<thead>
	<tr>
		<th>Start</th>
		<th>End</th>
		<th>Event</th>
		<th>Location</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td>12:00AM</td>
		<td>3:00AM</td>
		<td>S'mores</td>
		<td>Patio</td>
	</tr>
	<tr>
		<td>8:30AM</td>
		<td>10:00AM</td>
		<td>Breakfast</td>
		<td>Tunnel</td>
	</tr>
	<tr>
		<td>12:30PM</td>
		<td>2:00PM</td>
		<td>Lunch</td>
		<td>Tunnel</td>
	</tr>
	<tr>
		<td>4:00PM</td>
		<td>6:00PM</td>
		<td>Colorwar</td>
		<td>Main Exploration Area</td>
	</tr>
	<tr>
		<td>6:00PM</td>
		<td>8:00PM</td>
		<td>Dinner</td>
		<td>Tunnel</td>
	</tr>
	<tr>
		<td>9:00PM</td>
		<td>12:00AM</td>
		<td>S'mores</td>
		<td>Patio</td>
	</tr>
</tbody>
</table>
<!-- /Saturday -->

<!-- Sunday -->
<h3 class="table-title">Sunday</h3>
<table id="table-sunday">
<thead>
	<tr>
		<th>Start</th>
		<th>End</th>
		<th>Event</th>
		<th>Location</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td>12:30AM</td>
		<td>1:00AM</td>
		<td>Midnight Snack</td>
		<td>Main Exploration Area</td>
	</tr>
	<tr>
		<td>8:00AM</td>
		<td>9:00AM</td>
		<td>Breakfast</td>
		<td>Tunnel</td>
	</tr>
	<tr>
		<td>10:00AM</td>
		<td></td>
		<td>Exploration Ends</td>
		<td></td>
	</tr>
	<tr>
		<td>11:00AM</td>
		<td></td>
		<td>Expo Begins</td>
		<td>Main Exploration Area</td>
	</tr>
	<tr>
		<td>12:30PM</td>
		<td>1:30PM</td>
		<td>Lunch</td>
		<td>Tunnel</td>
	</tr>
	<tr>
		<td>1:00PM</td>
		<td></td>
		<td>Closing Ceremony</td>
		<td>Stage</td>
	</tr>
	<tr>
		<td>2:00PM</td>
		<td></td>
		<td>End</td>
		<td></td>
	</tr>

</tbody>
</table>
<!-- /Sunday -->
