<h2 class="info-title">Schedule</h2>

<!-- Friday -->
<h3 class="table-title">Friday</h3>
<table id="table-friday">
<thead>
	<tr>
		<th>Start</th>
		<th>End</th>
		<th>Event</th>
		<th>Location</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td> 4:00PM</td>
		<td>6:00PM</td>
		<td>Sponsor Mentor Checkin</td>
		<td>Entrance</td>
	</tr>
	<tr>
		<td>6:00PM</td>
		<td></td>
		<td>Registration Opens</td>
		<td>Entrance</td>
	</tr>
	<tr>
		<td>6:30PM</td>
		<td>8:30PM</td>
		<td>Dinner</td>
		<td>Arena</td>
	</tr>
	<tr>
		<td>8:00PM</td>
		<td>9:30PM</td>
		<td>Sponsorship Fair</td>
		<td>Arena</td>
	</tr>
	<tr>
		<td>9:30PM</td>
		<td>10:00PM</td>
		<td>Opening Ceremony</td>
		<td>Stage</td>
	</tr>
	<tr>
		<td>10:00PM</td>
		<td></td>
		<td>Hacking Begins</td>
		<td>Arena</td>
	</tr>
	<tr>
		<td>10:00PM</td>
		<td>11:00PM</td>
		<td>Ice Cream Social</td>
		<td>Tunnel</td>
	</tr>
	<tr>
		<td>10:00PM</td>
		<td>11:30PM</td>
		<td>Tata Tech Talk</td>
		<td>Campfire</td>
	</tr>
	<tr>
		<td>10:15PM</td>
		<td>11:00PM</td>
		<td>Imagine Tomorrow: Finance</td>
		<td>Stands</td>
	</tr>
	<tr>
		<td>10:15PM</td>
		<td>11:00PM</td>
		<td>Imagine Tomorrow: Design</td>
		<td>Stands</td>
	</tr>
	<tr>
		<td>10:15PM</td>
		<td>11:00PM</td>
		<td>Imagine Tomorrow: Hardware</td>
		<td>Stands</td>
	</tr>
	<tr>
		<td>10:15PM</td>
		<td>11:00PM</td>
		<td>Imagine Tomorrow: Virtual Reality</td>
		<td>Stands</td>
	</tr>
	<tr>
		<td>11:00PM</td>
		<td>12:00PM</td>
		<td>Social Change Whiteboard Brainstorm Workshop</td>
		<td></td>
	</tr>
	<tr>
		<td>11:00PM</td>
		<td>11:15PM</td>
		<td>Campfire Story: Parrelization in StegDetect</td>
		<td>Campfire</td>
	</tr>
	<tr>
		<td>11:00PM</td>
		<td>12:00AM</td>
		<td>Scout Trail Kickoff</td>
		<td>Room 0102</td>
	</tr>
	<tr>
		<td>11:15PM</td>
		<td>11:30PM</td>
		<td>Campfire Story: Watson Cooks</td>
		<td>Campfire</td>
	</tr>
	<tr>
		<td>11:30PM</td>
		<td>11:45PM</td>
		<td>Campfire Story: Computer Science Is Not Just For Work</td>
		<td>Campfire</td>
	</tr>
</tbody>
</table>
<!-- /Friday -->

<!-- Saturday -->
<h3 class="table-title">Saturday</h3>
<table id="table-saturday">
<thead>
	<tr>
		<th>Start</th>
		<th>End</th>
		<th>Event</th>
		<th>Location</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td>12:00AM</td>
		<td>3:00AM</td>
		<td>S'mores</td>
		<td>Patio</td>
	</tr>
	<tr>
		<td>2:00AM</td>
		<td>4:00AM</td>
		<td>Movie: Wet Hot American Summer</td>
		<td>Hoff Theater</td>
	</tr>
	<tr>
		<td>8:30AM</td>
		<td>10:00AM</td>
		<td>Breakfast</td>
		<td>Arena</td>
	</tr>
	<tr>
		<td>10:00AM</td>
		<td>10:15AM</td>
		<td>Campfire Story: Engineering, Product Management or Developer Advocacy? Yes, please.</td>
		<td>Campfire</td>
	</tr>
	<tr>
		<td>11:00AM</td>
		<td>11:15AM</td>
		<td>Campfire Story: Casinos vs C0d3rs - How to Bring Down the House with the Help of Simulation</td>
		<td>Campfire</td>
	</tr>
	<tr>
		<td>11:15AM</td>
		<td>12:00PM</td>
		<td>Scout Trail: Hacking with APIs (umd.io)</td>
		<td>Campfire</td>
	</tr>
	<tr>
		<td>12:30PM</td>
		<td>2:00PM</td>
		<td>Lunch</td>
		<td>Arena</td>
	</tr>
	<tr>
		<td>2:00PM</td>
		<td>4:00PM</td>
		<td>Startup Shell Tour</td>
		<td>Tunnel</td>
	</tr>
	<tr>
		<td>2:00PM</td>
		<td>2:15AM</td>
		<td>Campfire Story: Not All Fun and Games - Supporting a Triple-A Video Game Launch</td>
		<td>Campfire</td>
	</tr>
	<tr>
		<td>2:15PM</td>
		<td>3:00PM</td>
		<td>Scout Trail: Polishing your hack (Design)</td>
		<td>Campfire</td>
	</tr>
	<tr>
		<td>3:00PM</td>
		<td>3:30PM</td>
		<td>Delivering the Killer Pitch</td>
		<td>Campfire</td>
	</tr>

	<tr>
		<td>3:30MP</td>
		<td>4:00PM</td>
		<td>Capital One Talk (Becoming a Gopher)</td>
		<td>Campfire</td>
	</tr>
	<tr>
		<td>4:00PM</td>
		<td>6:00PM</td>
		<td>Colorwar</td>
		<td>Campfire</td>
	</tr>
	<tr>
		<td>6:00PM</td>
		<td>8:00PM</td>
		<td>Dinner</td>
		<td>Arena</td>
	</tr>
	<tr>
		<td>6:30PM</td>
		<td>6:45PM</td>
		<td>Campfire Story: Learning and innovation as new hires</td>
		<td>Campfire</td>
	</tr>
	<tr>
		<td>7:30PM</td>
		<td>7:45PM</td>
		<td>Campfire Story: So Happy Together</td>
		<td>Campfire</td>
	</tr>
	<tr>
		<td>8:00PM</td>
		<td>9:00PM</td>
		<td>Killer Pitch Competition</td>
		<td>Campfire</td>
	</tr>
	<tr>
		<td>9:00PM</td>
		<td>12:00AM</td>
		<td>S'mores</td>
		<td>Patio</td>
	</tr>
	<tr>
		<td>9:00PM</td>
		<td>9:15PM</td>
		<td>Campfire Story: Parrelization in StegDetect</td>
		<td>Campfire</td>
	</tr>
	<tr>
		<td>9:15PM</td>
		<td>11:15PM</td>
		<td>Super Smash Bros Tournament</td>
		<td>Campfire</td>
	<tr>
		<td>11:15PM</td>
		<td>12:15AM</td>
		<td>Scout Trail: Deploying Your Hack</td>
		<td>Campfire</td>
	</tr>
</tbody>
</table>
<!-- /Saturday ampfire Stories: Learning and innovation as new hires

<!-- Sunday -->
<h3 class="table-title">Sunday</h3>
<table id="table-sunday">
<thead>
	<tr>
		<th>Start</th>
		<th>End</th>
		<th>Event</th>
		<th>Location</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td>12:30AM</td>
		<td>1:00AM</td>
		<td>Midnight Snack</td>
		<td>Arena</td>
	</tr>
	<tr>
		<td>3:00AM</td>
		<td>4:00AM</td>
		<td>Water Pong Tournament</td>
		<td></td>
	</tr>
	<tr>
		<td>9:00AM</td>
		<td>11:00AM</td>
		<td>Breakfast</td>
		<td>Arena</td>
	</tr>
	<tr>
		<td>10:00AM</td>
		<td></td>
		<td>Hacking Ends/Submissions Due</td>
		<td>Arena</td>
	</tr>
	<tr>
		<td>11:00AM</td>
		<td></td>
		<td>Expo Begins</td>
		<td>Arena</td>
	</tr>
	<tr>
		<td>12:30PM</td>
		<td>1:30PM</td>
		<td>Lunch</td>
		<td>Arena</td>
	</tr>
	<tr>
		<td>1:00PM</td>
		<td></td>
		<td>Closing Ceremony</td>
		<td>Arena</td>
	</tr>
	<tr>
		<td>2:00PM</td>
		<td></td>
		<td>End</td>
		<td>Arena</td>
	</tr>
	<tr>
		<td>2:30PM</td>
		<td></td>
		<td>Last Bus Leaves</td>
		<td>Outside</td>
	</tr>

</tbody>
</table>
<!-- /Sunday -->
