<section class="info tight-bottom" id="sponsors"> <!-- sponsors -->

  <h2 class="info-title">Sponsors</h2>

  <ul class="row">
    {% for sponsor in site.data.sponsors %}
    {% if sponsor.tier == "1" %}
    <li class="col-large">
      <a href="{{ sponsor.link }}" target="_blank">
        <img src="img/sponsors/{{ sponsor.logo }}.svg" alt="{{ sponsor.name }}">
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>

  <ul class="row">
    {% for sponsor in site.data.sponsors %}
    {% if sponsor.tier == "2" %}
    <li class="col-med">
      <a href="{{ sponsor.link }}" target="_blank">
        <img src="img/sponsors/{{ sponsor.logo }}.svg" alt="{{ sponsor.name }}">
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>

  <ul class="row">
    {% for sponsor in site.data.sponsors %}
    {% if sponsor.tier == "3" %}
    <li class="col-small">
      <a href="{{ sponsor.link }}" target="_blank">
        <img src="img/sponsors/{{ sponsor.logo }}.svg" alt="{{ sponsor.name }}">
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>

  <ul class="row">
    {% for sponsor in site.data.sponsors %}
    {% if sponsor.tier == "4" %}
    <li class="col-small">
      <a href="{{ sponsor.link }}" target="_blank">
        <img src="img/sponsors/{{ sponsor.logo }}.svg" alt="{{ sponsor.name }}">
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>

  <ul class="row">
    {% for sponsor in site.data.sponsors %}
    {% if sponsor.tier == "5" %}
    <li class="col-small">
      <a href="{{ sponsor.link }}" target="_blank">
        <img src="img/sponsors/{{ sponsor.logo }}.svg" alt="{{ sponsor.name }}">
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>

  <a href="sponsorship/bitcamp-sponsor-2015_Final.pdf" class="button">Become a Sponsor</a>

</section> <!-- /partners -->
