<footer class="section"> <!-- footer -->

  <p class="copy">&copy; {{ site.time | date: '%Y' }} Bitcamp</p>

  <ul class="social-links">

    <li class="social-item">
      <a href="https://www.facebook.com/bitcmp" class="social-item-link" target="_blank">
      	<img src="/img/social/facebook.svg">
      </a>
    </li>

    <li class="social-item">
      <a href="https://twitter.com/bitcmp" class="social-item-link" target="_blank">
      	<img src="/img/social/twitter.svg">
      </a>
    </li>

    <li class="social-item">
      <a href="https://instagram.com/bitcamp" class="social-item-link" target="_blank">
      	<img src="/img/social/instagram.svg">
      </a>
    </li>

    <li class="social-item">
      <a href="https://medium.com/bitcampfire-stories" class="social-item-link" target="_blank">
      	<img src="/img/social/medium.svg">
      </a>
    </li>

    <li class="social-item">
      <a href="https://github.com/bitcamp" class="social-item-link" target="_blank">
      	<img src="/img/social/github.svg">
      </a>
    </li>

  </ul>

</footer> <!-- /footer -->
