<footer>
	<p>&copy; 2015 Bitcamp</p>
	<div>
		<a href="https://www.facebook.com/bitcmp">
			<img src="img/social/facebook.svg" alt="facebook"/>
		</a>
		<a href="https://twitter.com/bitcmp">
			<img src="img/social/twitter.svg" alt="twitter"/>
		</a>
		<a href="http://instagram.com/bitcamp/">
			<img src="img/social/instagram.svg" alt="instagram"/>
		</a>
		<a href="https://medium.com/bitcampfire-stories">
			<img src="img/social/medium.svg" alt="medium"/>
		</a>
		<a href="https://github.com/bitcamp">
			<img src="img/social/github.svg" alt="github"/>
		</a>
	</div>
</footer>
