<head>
<!--

////.         ://`   `.`                                                        
  -++.         .:-`   /+.                                                        
  .++-.-::-` `----  -:++:--`  .-:::-.  `.-:::-`   ----`-::-``-:::-`  .---`.-::-` 
  .++/-.-/+/``./++  .:++:--``/+/-.-+/  -/-..:+/.  .-++/-.-+//:.-/+/  .-++/:..:++.
  .++.   `++:  :++   -++.   /+/`   ..     ``.++:   `++-   /+/   -++`  `++:    /+/
  .++.   `++:  :++   -++.   /+/        -//:::++:   `++-   /+/   -++`  `++:    /+/
  .++-  `:+/.  :++`  .++-`` -++-` `.. -++`  .++:   .++:   /+/`  -++.  `++/` `-++-
  .///////:` ./////:  :////` .://///- `:////-:/// ://///` :///- -//// `++/////:. 
                                                                    `.++:.      
                                                                    -/////`     
-->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Colorwar - Bitcamp 2015</title>
  <meta name="description" content="bitcamp">
  <meta property="og:title" content="Colorwar - Bitcamp 2015">
  <meta property="og:site_name" content="Bitcamp">
  <meta property="og:url" content="http://bitca.mp/colorwar">
  <meta property="og:description" content="Welcome to Bitcamp's second annual COLORWAR design competition! COLORWAR is a chance for our Bitcamp participants and community to get their creative juices flowing in intense design challenges.">
  <meta property="og:image" content="http://bitca.mp/img/colorwar/colorwar-social.png">
  <meta property="og:type" content="website">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="http://bitca.mp/colorwar">
  <meta name="twitter:title" content="Colorwar - Bitcamp 2015">
  <meta name="twitter:description" content="Welcome to Bitcamp's second annual COLORWAR design competition! COLORWAR is a chance for our Bitcamp participants and community to get their creative juices flowing in intense design challenges.">
  <meta name="twitter:image" content="http://bitca.mp/img/colorwar/colorwar-social.png">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="http://bitca.mp/colorwar">

  <link rel="icon" type="image/png" href="../favicon-colorwar.ico">

</head>
