<div>
	<div>
		<div>
			<div>April 10-12, 2015</div>
			<div><img src="img/logo.svg" alt="A roaring Bitcampfire"/></div>
			<div>College Park, MD</div>	
		</div>
		<h1>Imagine Tomorrow</h1>
		<a href="/register/">Sign Up Today</a>	
		<div>
			<ul>
				<li>
					<a href="https://www.facebook.com/bitcmp">
						<img src="img/social/facebook.svg" alt="facebook"/>
					</a>
				</li>
				<li>
					<a href="https://twitter.com/bitcmp">
						<img src="img/social/twitter.svg" alt="twitter"/>
					</a>
				</li>
				<li>
					<a href="http://instagram.com/bitcamp/">
						<img src="img/social/instagram.svg" alt="instagram"/>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
