<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup" class="mc-div">
<form action="//bitca.us8.list-manage.com/subscribe/post?u=019e68d38fee346ced0f785ab&amp;id=6fe8ad3179" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<input class="mc_input" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email..." required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	<input class="hidden" type="text" name="b_019e68d38fee346ced0f785ab_6fe8ad3179" tabindex="-1" value=""><button class="mc_button"><input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="mc_button_inside"></button>
    </div>
</form>
</div>
<!--End mc_embed_signup-->
