<div class="container">
  <p class="sponsors-title">Sponsors</p>

  <div class="row">
    <div class="col-big"></div>
    <div class="col-big"></div>
    <div class="col-big"></div>
  </div>
  <div class="row">
    <div class="col-medium"></div>
    <div class="col-medium"></div>
    <div class="col-medium"></div>
  </div>
  <div class="row">
    <div class="col-small"></div>
    <div class="col-small"></div>
    <div class="col-small"></div>
  </div>

  <a href="#" class="button sponsor-button">Become a Sponsor</a>
</div>
