// COLORWAR

.colorwar {

	background: $dark-blue;
	padding-top: 1.5em;


	section, .section {
		padding-top: 1.25*$space;
		padding-bottom: 1.25*$space;
	}

	h2 {
		margin-bottom: $space;
	}

	.hero {
		background: $dark-blue;

		img {
			height: 6em;
			max-width: 80%;
		}

	}

	.button {
		margin-top: $space;
	}

	.info {
		.info-title {
			color: $yellow-orange;
		}
		.info-text {
			color: $white;
		}
	}

	.howitworks {
		@include span-columns(6);
		margin-top: 1em;
		h2 {
			color: $white;
			font-weight: 400;
			border-bottom: 1px solid $white;
			padding-bottom: .5em;
			display: inline-block;
			margin: 0 auto 1em;
		}
	}

	#judges {
		.judge {
			@include span-columns(4);
			.judge-pic {
				@include size(8em 8em);
				margin: 0 auto 1em;
				height: 8em;
				background-position: -8em 0;
				&:hover {
					background-position: 0 0;
				}
				background-size: auto 100%;
				background-repeat: no-repeat;
				&#ashley {
					background-image: url("/img/colorwar/ashley.jpg");
				}
				&#chris {
					background-image: url("/img/colorwar/chris.jpg");
				}
				&#gira {
					background-image: url("/img/colorwar/gira.jpg");
				}

			}
			p {
				color: $white;
				a {
					color: inherit;
				}
				&.job {
					font-family: $sans;

					margin-top: .75em;
					font-size: .75em;
				}
			}
		}
	}


}