.hero {
  @include clearfix;
  padding: 2*$space 0 3*$space 0;
  background-color: $sky-blue;
  text-align: center;
  height: 100%;
}

.hero-text {
  margin-bottom: $space;
  clear: both;
  @include media($mobile){
  	display: none;
  }
}

.hero-info {
  @include span-columns(12);
  margin-bottom: 2*$space;
}

.hero-info-text {
  @include span-columns(5 of 12);
  font-size: 24px;
  line-height: 80px;
  color: $medium-blue;
   @include media($mobile){
    	display: none;
    }
}

#hero-info-date {
  text-align: right;
}

#hero-info-city {
  text-align: left;
  @include omega;
}

#hero-info-logo {
  @include span-columns(2 of 12);
  img {
    @include size(80px 80px);
    @include media($mobile){
    	display: none;
    }
  }
  @include media($mobile){
	font-size: 18px;
  	line-height: 80px;
  	color: $medium-blue;
  	&:after{
  		content: "April 10-12, 2015 \0020 \0020 \00B7 \0020 \0020 College Park, MD";
  	}
  	 @include span-columns(4 of 6);
  	 @include shift(1 of 6);
  }

}
#hero-info-badge{
	display: none;
	@include media($mobile){
		@include span-columns(2 of 6);
		@include shift(2 of 6);
		img{
			width: 100px;
			height:106px;
			max-width: 100%;
			max-height: 100%
		}
	}
}

.hero-cta {

  @include media($mobile){
	clear: both;
  }

}
