.hero {
  @include clearfix;
  padding: 2*$space 0 3*$space 0;
  background-color: $sky-blue;
  text-align: center;
  height: 100%;
  padding: $space/4 0 $space;
  @include media($tablet) {
    padding-top: 2*$space;
    padding-bottom: 3*$space;
  }
}

.hero-text {
  clear: both;
  @include media($mobile) {
  	display: none;
  }
}

.hero-info {
  @include span-columns(12);
  margin-bottom: $space;
  @include media($mobile) {
    margin-bottom: 0;
  }
}

.hero-info-text {
  @include span-columns(5 of 12);
  font-size: 1em;
  line-height: 80px;
  color: $medium-blue;
  @include media($mobile) {
   display: none;
 }
}

#hero-info-date {
  text-align: right;
}

#hero-info-city {
  text-align: left;
  @include omega;
}

#hero-info-logo {
  @include span-columns(2 of 12);
  img {
    @include size(3em 3em);
    @include media($mobile) {
    	display: none;
    }
  }
  @include media($mobile) {
    line-height: 3em;
    color: $medium-blue;
    &:after{
      content: "April 10-12, 2015 \0020 \0020 \00B7 \0020 \0020 College Park, MD";
    }
    @include span-columns(4);
  }

}
#hero-info-badge{
	display: none;
	@include media($mobile) {
		@include span-columns(2);
		@include shift(1);
		img{
			height: 6em;
		}
	}
}

.hero-cta {

  @include media($mobile) {
   clear: both;
  // transform:translateY(35px);
}

}
section.hero{
  .social-links {
    margin-top: $space;
    @include media($mobile) {
      display: none;
    }
  }

  .social-item {
    display: inline-block;
    margin: 0 $space/2;
    img {
      width: $space;
    }
  }

  .social-item-link {
    float: left;
    img {
      width: $space;
    }
  }
}