.hero {
  @include clearfix;
  padding: 2*$space 0 3*$space 0;
  background-color: $sky-blue;
  text-align: center;
  height: 100%;
}

.hero-text {
  margin-bottom: $space;
  clear: both;
}

.hero-info {
  @include span-columns(12);
  margin-bottom: 2*$space;
}

.hero-info-text {
  @include span-columns(5 of 12);
  font-size: 24px;
  line-height: 80px;
  color: $medium-blue;
}

#hero-info-date {
  text-align: right;
}

#hero-info-city {
  text-align: left;
  @include omega;
}

#hero-info-logo {
  @include span-columns(2 of 12);
  img {
    @include size(80px 80px)
  }
}

.hero-cta {

}
