.info {
  padding: 160px 0 90px 0;
  text-align: center;
}

.info-title {
  margin-bottom: 90px;
  font-size: 18px;
  color: $dark-blue;
  text-transform: uppercase;
}

.info-text {
  max-width: 780px;
  margin: 0 auto 70px auto;
  line-height: 48px;
  color: #7F6C5F;
}
