.info {
  text-align: center;
}

.info-title {
  margin-bottom: 2*$space;
  color: $dark-blue;
  text-transform: uppercase;
}

.info-text {
	@include clearfix;
  @include span-columns(10);
  @include shift(1);
  line-height: 2;
  color: $brown;
}
