.container, section, .section {
  @include outer-container;
  @include clearfix;
}

section, .section {
  margin-bottom: 3*$space;
}

.full {
  max-width: 100%;
}

.row {
  @include clearfix;
}

.row-center {}

%col {
  height: 80px;
  margin-bottom: $space/2;
}

.col-large {
  @extend %col;
  @include span-columns(4);
  @include omega(3n);
}

.col-med {
  @extend %col;
  @include span-columns(3);
  @include omega(4n);
}

.col-small {
  @extend %col;
  @include span-columns(2);
  @include omega(6n);
}

.col-center {
  @include shift(4);
}

.row > div img {
	height: 100%;
	width: 100%;
}
