.container, section, .section {
  @include outer-container;
  @include clearfix;
}

section, .section {
  margin-bottom: 3*$space;
}

.full {
  max-width: 100%;
}

.row {
  @include clearfix;
}

.row-center {}

%col {
  height: 80px;
  margin-bottom: $space/2;
  display: inline-block;
}

.col-large {
  @extend %col;
  width: 33.33333333%;
}

.col-med {
  @extend %col;
  width: 25%;
}

.col-small {
  @extend %col;
  width: 16.66666666%;
}

.row > li img {
  height: 100%;
  width: 100%;
}
