.menu {
  @include clearfix;
  margin-bottom: 3*$space;
}

.menu-list {
  float: right;
}

.menu-logo {
  float: left;
  img {
    height: 24px;
    // svg {
    //   fill: $medium-blue;
    // }
  }
}

.menu-item {
  display: inline-block;
  margin-right: 20px;
  text-align: right;

  &:last-child {
    margin-right: 0;
  }
}

.menu-item-link {
  font-family: $sans;
  font-size: 18px;
  font-weight: bold;
  color: $medium-blue;
}
