.photo-feature {
	display: block;
	height: 8*$space;
	@include media($tablet) {
		height: 12*$space;
	}
	@include media($desktop) {
		height: 16*$space;
	}
	@include media($large) {
		height: 18*$space;
	}
}

#photo-1 {
	@include background-image("/img/photo-colorwar.jpg");
}

#photo-2 {
	@include background-image("/img/photo-smores.jpg");
}

#photo-3 {
	@include background-image("/img/photo-dave.jpg");
}
