
table {
	margin: auto;
	margin-top: $space;
	margin-bottom: $space;
	width: 100%;
	color: $brown;
}

tr {
	border-bottom: 1px solid $light-brown;
}
thead {
	border-bottom: 2px solid $yellow-orange;
}
th {
	padding: 0 .5em .5em .5em;
	text-align: left;
	font-family: $slab;
}
td {
	padding: .5em;
	font-size: .75em;
	text-align: left;
	&:nth-child(-n+2) {
		width: 5em;
	}
}
