.trails {
	section {
		@include outer-container;
		@include clearfix;
		padding: $space * 1/2;
		//@include media($tablet) {
		//	padding: 0 80px;
		//}
	}	

	p {
		line-height: 2;
		max-width: 80%;
		margin: auto;
		color: $brown;
	} 

	h1 {
		color: $dark-blue;
		@include media($mobile) {
			font-size: 3.5em;
		}
	}

	h2 {
		margin-bottom: $space;
		margin-top: $space * 1.5;
		color: $dark-blue;
	}

	h3 {
		margin-bottom: $space * 0.25;
		margin-top: $space * 0.75;
		font-size: 1em;
		color: $orange;
	}
	h4 {
		font-family: $sans;
		color: $dark-blue;
	}
	a {
	}
	ol {
		font-family: $sans;
		p {
			font-family: $slab;
		}
		text-align: left;
		//list-style: decimal;
		max-width: 80%;
		padding: 0 $space * 1/4;
		margin: $space auto;
		li {
			padding-bottom: 1em;
		}
	}	
}
