.button {
  @include clearfix;

  display: block;
  clear: both;
  @include size(13.125em 3.5em);
  margin: $space auto 0;
  padding-top: 1.3125em;

  background: url("/img/button.svg") center center no-repeat;

  font-size: 1em;
  font-family: $sans;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none !important;
  color: $white !important;
  &:hover {
    color: rgba(255,255,255,.9) !important;
  }
}

.social-links {

}

.social-item {

}

.social-item-link {

}

.copy {

}
